<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/signin.css"/>
</head>
<body>
    <div class="container">
        <div class="content">


            <div class="main_head">
                <img src="" alt="logo" class="main_img"/>
            </div>

            <form action="" method="POST" class="form">
                

                <div class="sign_head">
                    <div class="sign_name">
                        <span>Sign in as a student</span>
                    </div>

                    <div class="sign_name">
                        <span>Sign in as a judge</span>
                    </div>
                </div>

                
                <input type="email" id="email" name="email" placeholder="example@email.com"/>


                <br>

                
                <input type="password" id="password" name="password" placeholder="**********" />
                
                <br>
                <input type="submit" value="Log in"/>
            </form>


        </div>
    </div>
</body>
</html>