{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascentracore Solutions | About Us</title>
    <link rel="stylesheet" href="{% static 'css/errors.css'%}">
    <link rel="icon" href="{% static 'images/ascentra.webp' %}">
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G4CDC863PH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G4CDC863PH');
    </script>
</head>
<body>
    <div class="container">
        <div class="content">
            <center><h2>About AS.</h2></center>
            <p>In this website you can learn many programming languages with free. You can earn money on this website by uploading your content or spending more time on this website. This website offers you education, social media and money earning features. </p>
            <br>
            <div class="earning">
            <h2>Earning money</h2>
            <p>Tips to earn money</p>
            <ul>
                <li>Earn AS coins through uploading your valuable content.</li>
                <li>Earn AS coins by spenting more time in our website (1 hour = 0.1$).</li>
                <li>Earn AS coins by referrals.</li>
                <li>Earn AS coins by getting 1000 likes of your content.</li>
                <li>Earn AS coins by getting 1000 views.</li>
                <li>Earn AS coins by getting 1000 downloads.</li>
            </ul>
            <br>
            <h2>Transferring to bank or paypal</h2>
            <p>You can transfer AS coins to Dollar by providing user bank details or paypal mail. Is there any violation about giving bank details see our <a href="../termsandpolicy/">Terms and policy</a> how we are utilizing the user details. 1 AS coin is equal to the 1 American dollar. </p>
            </div>
            <br>
            <div class="signin_information">
                <h2>Why do we signin?</h2>
                <p>When the user sign in our website then the user can access the upload, like, download, attractor and transfer fund features. Without signin the user can't access those features. If you have any doubt about taking user information see our <a href="../termsandpolicy/">Terms and policy</a>. </p>
            </div>
        </div>

    </div>
</body>
</html>