{% extends "error_base.html" %}
{% block title %}403 Forbidden{% endblock %}

{% block content %}
    <img src="{{ images }}status/403.webp" alt="403" class="error_img">

    <div class="logo">
        <div class="logo_img">
            <img src="https://cdn.ascentracoresolutions.com/ascentra.webp" class="as_logo" alt="logo">
            &ensp;Ascentracore Solutions

        </div>
        <br>
        <p>403 Forbidden</p>
        <br>
        <br>
        <p>You don't have permission to access this resource.</p>
        <br>
        <p>Thank you for your patience.</p>
    </div>
    

{% endblock %}